.block.pregunta{
    position: relative;
    padding: 96px 0 96px 0;
    background: linear-gradient(90deg, #4e82e7 0%, #6039e4 48.26%, #771ee3 100%);
    .cripto1{
        position: absolute;
        max-width: 126px;
        width: 100%;
        top: -92px;
        right: 110px;
        img{
            position: relative !important;
            display: block;
        }
    }
    .cripto2{
        position: absolute;
        max-width: 110px;
        width: 100%;
        top: -29px;
        left: 187px;
        img{
            position: relative !important;
            display: block;
        }
    }
    .cripto3{
        position: absolute;
        max-width: 97px;
        width: 100%;
        bottom: -38px;
        right: 306px;
        z-index: 2;
        img{
            position: relative !important;
            display: block;
        }
    }
    .holder{
        max-width: 1330px;
        width: 100%;
        margin: 0 auto;
        .container-fluid{
            padding: 0 15px;
            .title{
                max-width: 635px;
                width: 100%;
                margin: 0 auto;
                font-family: "Urbane-Light";
                font-size: 34px;
                color: $texto4;
                text-align: center;
                span{
                    font-family: "Urbane-Bold";
                    font-size: 38px;
                }
            }
            .button{
                margin-top: 50px;
                text-align: center;
                a{
                    max-width: 370px;
                    width: 100%;
                    height: 50px;
                    background: $backgroundButton;
                    padding: 15px 29px;
                    text-decoration: none;
                    font-family: "Urbane-Medium";
                    font-size: 14px;
                    color: $texto1;
                    display: inline-block;
                    transition: all 0.2s ease-in;
                    position: relative;
                    overflow: hidden;
                    z-index: 1;
                    border-radius: 25px;
                    
                    &::before {
                        content: "";
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%) scaleY(1) scaleX(1.25);
                        top: 100%;
                        width: 140%;
                        height: 180%;
                        background-color: rgba(0, 0, 0, 0.05);
                        border-radius: 50%;
                        display: block;
                        transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
                        z-index: -1;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        left: 55%;
                        transform: translateX(-50%) scaleY(1) scaleX(1.45);
                        top: 180%;
                        width: 160%;
                        height: 190%;
                        background: linear-gradient(90deg, #4e82e7 0%, #6039e4 48.26%, #771ee3 100%);;
                        border-radius: 50%;
                        display: block;
                        transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
                        z-index: -1;
                    }
                    &:hover::before {
                        top: -35%;
                        background: linear-gradient(90deg, #4e82e7 0%, #6039e4 48.26%, #771ee3 100%);;
                        transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
                    }
                    &:hover::after {
                        top: -45%;
                        background: linear-gradient(90deg, #4e82e7 0%, #6039e4 48.26%, #771ee3 100%);;
                        transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
                    }
                }
            }
        }
    }
}
@media (max-width: 767px){
    .block.pregunta{
        padding: 100px 0 100px 0;
        .cripto1{
            max-width: 71px;
            width: 100%;
            top: -145px;
            right: -13px;
        }
        .cripto2{
            max-width: 62px;
            width: 100%;
            top: -125px;
            left: 36px;
        }
        .cripto3{
            max-width: 54px;
            width: 100%;
            bottom: -23px;
            right: 104px;
        }
        .holder{
            padding: 0 22px;
            .container-fluid{
                padding: 0 0px;
                .title{
                    max-width: none;
                    font-size: 20px;
                    span{
                        font-size: 30px;
                    }
                }
                .button{
                    margin-top: 40px;
                    a{
                        max-width: none;
                        width: 100%;
                        height: 42px;
                        padding: 12px 29px;
                    }
                }
            }
        }
    }
}